@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua itamarati,1020<br />
    Belo Horizonte - MG<br />
    <abbr title="Phone">Celular:</abbr>
    (31)99774-2564
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:julio.machado92@gmail.com">julio.machado92@gmail.com</a><br />
</address>
